   body {
      font-family: Arial, sans-serif;
      text-align: center;
      padding-top: 50px;
      background: #f7f7f7;
    }
    #joke {
      font-size: 1.5rem;
      margin: 20px;
      color: #444;
    }
    button {
      background: #ffcc00;
      border: none;
      padding: 10px 20px;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 5px;
    }

  .background {
    background-image: url("../image/Screenshot\ 2026-01-05\ 163813.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.text {
    color: white;
}
